@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins-regular" , sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #a0a0a0
}
.overflow{
    width: 10px;
    height: 10px;
    overflow: hidden;
}

::selection {
    background-color: #0b372dbb;
} 

.logo{
    width: 50px;
}

header{
    position: absolute;
    z-index: 9999;
    padding: 0.9rem;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0px solid rgba(255, 255, 255, 0.5);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: azure;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.search a {
font-size: 1.05rem;
padding: 0 3rem;
}

.insta{
    font-size: 1.05rem;
    padding: 0 2rem;
}

.hamburger{
    padding-left: 1.5rem ;
}

.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
} 

.hamburger .bar{
    position: relative;
    width:52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after{
content: "";
position: absolute;
left: 50%;
transform: translate(-50%);
width: 60%;
height: 100%;
background-color: inherit;
border-radius: 2px;
}

.hamburger .bar::before{
    top: -4.5px;
}

.hamburger .bar::after{
    top: 4.5px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;    
}

.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    /* transform: translate(-50%, -50%); */
}
 
.bg-img{
    position:absolute;
    width: 140%;
    top: calc(50%);
    left: calc(50%);
    opacity: 1;
    z-index: 1;
}
.sun-8{
    position:absolute;
    width: 33%;
    top: 26%;
    left: 50%;
    z-index: 2;

}
.mountfuji-7{
    position:absolute;
    width: 115%;
    top: 75%;
    left: 50%;
    z-index: 5;
}
.cloud-11{
    position:absolute;
    width: 40%;
    top: 16%;
    left: 22%;
    z-index: 6;
}

.cloud-9{
    position:absolute;
    width: 115%;
    top: 50%;
    left: 50%;
    z-index: 3;
}
.mountain-10{
    position:absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    z-index: 6;
}
.mountain-6{
    position:absolute;
    width: 100%;
    top: calc(50% + 200px);
    left: calc(50% + 150px);
    z-index: 7;
}

.mountain-5{
    position:absolute;
    width: 50%;
    top: calc(50% + 250px);
    left: calc(50% + 180px);
    z-index: 7;
}
.shrine-4{
    position:absolute;
    width: 350px;
    top: calc(50% + 240px);
    left: calc(50%);
    z-index: 8;
}
.fog-3{
    position:absolute;
    width: 1200px;
    top: calc(50%);
    left: calc(50% - 60px);
    z-index: 9; 
}
.grass-2{
    position:absolute;
    width: 600px;
    top: calc(50% + 260px);
    left: calc(50% - 400px);
    z-index: 10; 
}

.grass-1{
    position:absolute;
    width: 600px;
    top: calc(50% + 260px);
    left: calc(50% + 400px);
    z-index: 11; 
}

.vignette{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    pointer-events: none;
}



/* css for contact me form */



.popup{
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
} 

.popup-content {
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5)
      rgba(0, 0, 0, 0.5)
      );
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .popup-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
   
  
  .form-box {
    width: 90%;
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f4e1;
    opacity: 0.7;
    padding: 50px 60px 50px;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
  }
  .form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #543310;
    position: relative;
  }
  
  .form-box h1::after {
    content: "";
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background: #543310;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .input-field {
    background: #af8f6f;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.7s;
    overflow: hidden;
  }
  input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }
  
  input::placeholder {
    color: #f8f4e1;
  }
  
  .input-field i {
    margin-left: 15px;
    color: #f8f4e1;
  }
  
  form p {
    text-align: left;
    font-size: 13px;
  }
  
  form p a {
    text-decoration: none;
    color: #543310;
  }
  
  .btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn-field button {
    flex-basis: 48%;
    background: #543310;
    color: #F8F4E1;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  .input-group {
    height: 260px;
  }
  
  
/* .counter { 
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: 10001;
    color: #040404;
    padding: rem 0.4;
    font-size: 15vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
}
.bar{
    width: 10vw;
    height: 105vh;
    background: #b52917;
} */


/* css for resposive website */

 @media (max-width: 1100px){

 }
 
 @media (max-width: 725px){
   header nav{
    padding: 0.1 rem;
   }; 

   .logo{
    width: 75px;
   };
   header ul a{
    font-size: 0.5rem;
    padding: 0 0.9 rem;
   };
   .search a{
    font-size: 0.85rem;
    padding: 0 1.8rem;
   };
   .hamburger{
    padding-left: 0.9rem;
   }

   .hamburger a {
    height: 30px;
    width: 30px;
   }

 } 
