@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins-regular" , sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: black;
}
.overflow{
    width: 10px;
    height: 10px;
    overflow: hidden;
}
::selection {

    background-color: #0b372dbb;
} 

.logo{
    width: 50px;
}

header{
    position: fixed;
    z-index: 9999;
    padding: 0.9rem;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0px solid rgba(255, 255, 255, 0.5);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: azure;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.button{
    cursor: pointer;
}
.search a {
font-size: 1.05rem;
padding: 0 3rem;
}

.insta{
    font-size: 1.05rem;
    padding: 0 2rem;
}

.hamburger{
    padding-left: 1.5rem ;
}

.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
} 

.hamburger .bar{
    position: relative;
    width:52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after{
content: "";
position: absolute;
left: 50%;
transform: translate(-50%);
width: 60%;
height: 100%;
background-color: inherit;
border-radius: 2px;
}

.hamburger .bar::before{
    top: -4.5px;
}

.hamburger .bar::after{
    top: 4.5px;
}


main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;    
}

.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    /* transform: translate(-50%, -50%); */
}

.bg-img{
    position:absolute;
    width: 130%;
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 1;
}
.sun-8{
    position:absolute;
    width: 33%;
    top: 26%;
    left: 50%;
    z-index: 2;
    
}
.mountfuji-7{
    position:absolute;
    width: 120%;
    top: 80%;
    left: 50%;
    z-index: 5;
}
.cloud-11{
    position:absolute;
    width: 45%;
    top: 16%;
    left: 22%;
    z-index: 6;
}

.cloud-9{
    position:absolute;
    width: 115%;
    top: 50%;
    left: 50%;
    z-index: 3;
}
.mountain-10{
    position:absolute;
    width: 120%;
    top: 42%;
    left: 50%;
    z-index: 6;
}
.mountain-6{
    position:absolute;
    width: 100%;
    top: 78%;
    left: 63%;
    z-index: 7;
}

.mountain-5{
    position:absolute;
    width: 50%;
    top: 90%;
    left: 67%;
    z-index: 7;
}
.shrine-4{
    position:absolute;
    width: 30%;
    top: 87%;
    left: 50%;
    z-index: 8;
}
.fog-3{
    position:absolute;
    width: 100%;
    top: 40%;
    left: 44%;
    z-index: 9; 
}
.grass-2{
    position:absolute;
    width: 50%;
    top: 90%;
    left: 17%;
    z-index: 10; 
}

.grass-1{
    position:absolute;
    width: 50%;
    top: 90%;
    left: 83%;
    z-index: 11; 
}

.vignette{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    pointer-events: none;
}


/* css for contact me form */



.popup{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popup-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.popup-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.formbox {
    width: 90%;
    flex-wrap: wrap;
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f4e1;
    opacity: 0.7;
    padding: 50px 60px 50px;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}
.formbox h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #543310;
    position: relative;
}

.formbox h1::after {
    content: "";
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background: #543310;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #af8f6f;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 65px;
    overflow: hidden;
}


input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

input::placeholder {
    color: #f8f4e1;
}

.input-field i {
    margin-left: 15px;
    color: #f8f4e1;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #543310;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.btn-field button {
    flex-basis: 48%;
    background: #543310;
    color: #F8F4E1;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.input-group {
    height: 260px;
}

/* page 2 content  */

@keyframes scrollright {
    to {
        left: 100%;
    }    
}

@keyframes scrollleft {
    to {
        left: -100%;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes vanish {
    from{
        display: flex;
        opacity: 1;
    }
    to{
        display: none;
        opacity: 0;
    }
}

.projects-btn{
    top: 89%;
    left: 46%;
    position: absolute;
    z-index: 101;
}

.aboutMe-btn{
    top: 89%;
    left: 24%;
    position: absolute;
    z-index: 101;
}

.contact-btn{
    top: 89%;
    left: 68%;
    position: absolute;
    z-index: 101;
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.page2{
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;  
}

.scenery{
    position:absolute;
    width: 110%;
    top: -23%;
    left: -5%;
    z-index: 4;
}

.bganimation{
    
    width: 100vw;
    height: 100vh;
    position: relative;
    
}




.stars{
    position:absolute;
    width: 100%;
    top: -5%;
    left: -100%;
    z-index: 2;
    animation-name: scrollright;
    animation-duration: 90s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}

.star1{
    animation-delay: calc( 90s / 2 * (2 - 1) * -1);
}

.star2{
    animation-delay: calc( 90s / 2 * (2 - 2) * -1);
}

.moon{
    position:absolute;
    width: 20%;
    top: 30%;
    left: 100%;
    z-index: 3;
    animation-name: scrollleft;
    animation-duration:  120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}

.sky{
    position:absolute;
    width: 110%;
    top: -5%;
    left: -5%;
    z-index: 1;
}

/* ----------------------------------------------project page css--------------------------------- */

.glasscontainer{
    user-select: none;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
    animation: vanish 0.6s;
}

.projectappear{
    display: flex;
    animation: appear 0.6s;
}




.projectcard{
    width: 19.5%;
    height: 55%;
}

.glass1{
    user-select: none;
    margin-top: 7%;
    margin-left: 10%;
    position: absolute;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    border: solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    overflow: hidden;
}

.calculator{
    margin-top: 10%;
    margin-left: 12%;
   height: 56%; 
   width: 77%;
}

#calc{
    margin-top: 20px;
    text-align: center;
    color: #D9D9D9;
    font-family: "Poppins-regular" , sans-serif;
    font-size: 1.6rem;
}
.language{
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
    color: #D9D9D9;
    font-family: "Poppins-regular" , sans-serif;
    font-size: 1rem;
}

.glass2{
    user-select: none;
        margin-top: 7%;
        margin-left: 40%;
        position: absolute;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 20px;
        border: solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .pacman{
        margin-top: 10%;
        margin-left: 12%;
        height: 56%; 
        width: 77%;
        border-radius: 20%;
    }
    #pacman{
        margin-top: 20px;
        text-align: center;
        color: #D9D9D9;
        font-family: "Poppins-regular" , sans-serif;
        font-size: 1.6rem;
    }
    

    .glass3{
        user-select: none;
        margin-top: 7%;
        margin-left: 70%;
        position: absolute;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 20px;
        border: solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .clock{
        margin-top: 10%;
        margin-left: 12%;
       height: 56%; 
       width: 77%;
       border-radius: 20%;
    }
    
    #clock{
        margin-top: 20px;
        text-align: center;
        color: #D9D9D9;
        font-family: "Poppins-regular" , sans-serif;
        font-size: 1.6rem;
    }

    /*-------------------------------------------------------- project page css end----------------------------- */


    /* ----------------------------------------------------------about me page css ------------------------------*/

    .aboutmepage{
        width: 79.5%;
        height: 55%;
        user-select: none;
        margin-top: 7%;
        margin-left: 10%;
        position: absolute;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 20px;
        border: solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        overflow: hidden;
        display: none;
        z-index: 100;
        animation: vanish 0.6s;
    }
    
    .aboutmepageappear{
        display: flex;
        animation: appear 0.6s;
    }


    .imgnamecontainer{
        width: 25%;
        height: 100%;
        /* border: solid rgba(255, 255, 255, 0.18); */
        position: absolute;
    }

    .profileimg{
        margin-top: 16.5%;
        margin-left: 16.5%;
        width: 200px;
        height: 200px;
        border-radius: 20%;
        border: solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    #superiorname{
        font-family: "Poppins-regular" , sans-serif;
        font-size: 1.3rem;
        margin-top: 10%;
        margin-left: 26%;
        color: #ffffff;
    }


    /* ---------------------------------------------------------about me page css end------------------------------ */

/* css for resposive website */

 @media (max-width: 1100px){

 }
 
 @media (max-width: 725px){
   header nav{
    padding: 0.1 rem;
   }; 

   .logo{
    width: 75px;
   };
   header ul a{
    font-size: 0.5rem;
    padding: 0 0.9 rem;
   };
   .search a{
    font-size: 0.85rem;
    padding: 0 1.8rem;
   };
   .hamburger{
    padding-left: 0.9rem;
   }

   .hamburger a {
    height: 30px;
    width: 30px;
   }

 } 
